.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
dist/
build/
*.egg-info/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,log
.pytest_cache/
ts_raw.html
rapid_markdown.txt
rapid_data.json
wifi_raw.html
wifi_item.json
wifi_root.json
ts_markdown.txt
datagov_markdown.txt
