# Environment
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/

# Build artifacts
dist/
build/
*.egg-info/

# Test / coverage
.tox/
.coverage
.pytest_cache/

# Logs
*.log

# Debug / raw outputs
*.json
*.txt
*.html